<div class="navbar-container">
  <nav>
    <input type="checkbox" id="sidebar-active" />
    <label for="sidebar-active" class="open-sidebar-button"></label>
    <label id="overlay" for="sidebar-active"></label>
    <div class="links-container">
      <label for="sidebar-active" class="close-sidebar-button"></label>
      <a class="home-link" href="#">
        <img
          src="assets/images/sym-logo-only.jpeg"
          alt="Home Icon"
          style="width: 100px; vertical-align: middle"
        />
      </a>
      <a href="/about">{{ "NAVBAR.ABOUT" | translate }}</a>
      <a href="/products">{{ "NAVBAR.PRODUCTS" | translate }}</a>
      <a href="/contact">{{ "NAVBAR.CONTACT" | translate }}</a>
    </div>
  </nav>
</div>
