@use 'colors' as colors;

.navbar-container {
  font-size: 12pt;
}

nav {
  height: 60px;
  background-color: colors.$dark-color;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav a {
  position: relative;
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: colors.$light-color;
  transition: color 0.4s ease-in-out;
  &:not(.home-link) {
    &::after {
      content: "";
      position: absolute;
      bottom: 5px;
      left: 50%;
      width: 0;
      height: 2px;
      background-color: colors.$secondary-color;
      transition: width 0.5s ease-in-out, transform 0.5s ease-in-out;
      transform: translateX(-50%);
    }

    &:hover {
      color: colors.$secondary-color;
      background-color: colors.$light-blue-color;
      transition: background-color 0.7s ease-in-out, color 0.7s ease-in-out;
      &::after {
        width: 60%;
      }
    }
  }
}

nav .home-link {
  margin-right: auto;
}

.header-logo {
  height: 40px;
  max-width: 200px;
  object-fit: contain;
  vertical-align: middle;
}

#sidebar-active {
  display: none;
}

.open-sidebar-button, .close-sidebar-button {
  display: none;
}

@media(max-width: 450px) {
  .links-container{
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;

    background-color: colors.$dark-color;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.75s ease-out;
  }

  nav a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }

  .open-sidebar-button {
    background: url('../../assets/icons/menu_icon.svg') no-repeat center;
  }

  .close-sidebar-button {
    background: url('../../assets/icons/close_icon.svg') no-repeat center;
  }

  .open-sidebar-button, .close-sidebar-button {
    padding: 20px;
    display: block;
  }
  #sidebar-active:checked ~ .links-container {
    right: 0;
  }
  #sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 9;
  }
}
