<footer class="footer">
  <div class="footer-content">
    <app-button text="FOOTER.DOWNLOAD_CATALOG" iconUrl="../../assets/icons/download_icon.svg" (click)="downloadCatalog()"></app-button>
    <a class="icon" href="https://www.facebook.com" target="_blank">
      <i class="facebook-icon"></i> <span>d-kasa</span>
    </a>
    <a class="icon" href="https://www.instagram.com" target="_blank">
      <i class="instagram-icon"></i> <span>d_kasa</span>
    </a>
    <a class="icon" href="https://www.whatsapp.com" target="_blank">
      <i class="whatsapp-icon"></i><span>+ 591 7340234</span>
    </a>
  </div>
</footer>