<section id="slider">
  <input type="radio" name="slider" id="s1" [checked]="currentIndex === 0">
  <input type="radio" name="slider" id="s2" [checked]="currentIndex === 1">
  <input type="radio" name="slider" id="s3" [checked]="currentIndex === 2">
  <input type="radio" name="slider" id="s4" [checked]="currentIndex === 3">
  <input type="radio" name="slider" id="s5" [checked]="currentIndex === 4">
  <label for="s1" id="slide1" [ngClass]="{'active': currentIndex === 0}" (click)="onSlideClick()"></label>
  <label for="s2" id="slide2" [ngClass]="{'active': currentIndex === 1}" (click)="onSlideClick()"></label>
  <label for="s3" id="slide3" [ngClass]="{'active': currentIndex === 2}" (click)="onSlideClick()"></label>
  <label for="s4" id="slide4" [ngClass]="{'active': currentIndex === 3}" (click)="onSlideClick()"></label>
  <label for="s5" id="slide5" [ngClass]="{'active': currentIndex === 4}" (click)="onSlideClick()"></label>

  <button id="prevButton" class="nav-button" (click)="manualPrevSlide()">&#10094;</button>
  <button id="nextButton" class="nav-button" (click)="manualNextSlide()">&#10095;</button>
</section>
