<div class="product-card">
  <img src="{{ product.imageUrl }}" alt="{{ product.name }}" class="product-image">
  <div class="product-info">
    <h2 class="product-name">{{ product.name | translate }}</h2>
    <p class="product-description">{{ product.shortDescription | translate }}</p>
    <div class="price-action-row">
      <p class="product-price">{{ product.price }}Bs</p>
      <button class="detail-button" (click)="openModal()">{{ 'PRODUCT_CARD.DETAILS' | translate }}</button>
    </div>
  </div>
</div>

<app-product-card-detail 
  [product]="product"
  [isOpen]="isModalOpen"
  (closeModal)="closeModal()">
</app-product-card-detail>
