<div class="about-container">
  <div class="about-card">
    <h1>{{ 'ABOUT_PAGE.TITLE' | translate }}</h1>
    <p class="about-content" [innerHTML]="'ABOUT_PAGE.CONTENT' | translate"></p>
    <a class="icon" href="https://www.facebook.com" target="_blank">
      <i class="facebook-icon"></i> <span>sym</span>
    </a>
    <a class="icon" href="https://www.instagram.com/symcollectionsublimacion/" target="_blank">
      <i class="instagram-icon"></i> <span>symcollectionsublimacion</span>
    </a>
    <a class="icon" href="https://wa.me/59177485572" target="_blank">
      <i class="whatsapp-icon"></i> <span>+591 77485572</span>
    </a>
  </div>
</div>