@use "colors" as colors;

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  background-color: colors.$background-page;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  @media (max-width: 768px) {
    max-width: 220px;
  }
}

.contact-title {
  color: colors.$info-color;
}

.contact-container {
  display: flex;
  flex-direction: row;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.textarea {
  resize: vertical;
  height: 200px;
  width: inherit;
  width: 200px;
}

.input-group {
  position: relative;
  margin: 10px;
}

.input {
  border: solid 1.5px colors.$font-placeholder-color;
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: colors.$secondary-color;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 200px;
  &:focus,
  &:hover,
  &:valid {
    outline: none;
    border: 1.5px solid colors.$info-color;
    box-shadow: 0px 0px 0px 2px rgba(74, 157, 236, 0.2);
  }

  &:focus ~ .user-label,
  &:valid ~ .user-label {
    transform: translateY(-50%) scale(0.8);
    background-color: colors.$background-page;
    padding: 0 0.2em;
    color: colors.$info-color;
  }
}

.user-label {
  position: absolute;
  left: 15px;
  color: colors.$secondary-color;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.button-container {
  background-color: colors.$info-color;
  color: colors.$background-page;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.4rem 1rem 0.4rem 1.5rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 150px;

  &:hover {
    background-color: color-mix(in srgb, colors.$info-color, black 10%);
    transform: scale(1.05);
  }

  &:active {
    background-color: color-mix(in srgb, colors.$info-color, black 15%);
    transform: scale(0.98);
  }

  &:focus {
    outline: 2px solid colors.$secondary-color;
  }

  .send-icon {
    width: 32px;
    height: 32px;
    background: url("../../assets/icons/send_icon.svg") no-repeat center;
  }

  @media (max-width: 768px) {
    width: 50px;
    height: 50px;
    padding: 0rem 0rem 0rem 0.3rem;
    border-radius: 50%;
    font-size: 0;

    .button-text {
      display: none;
    }

    .button-icon {
      display: inline;
      font-size: 1.5rem;
    }
  }
}
