<div class="contact-form-container">
  <form [formGroup]="contactForm" class="contact-form" (submit)="onSubmit()">
    <h2 class="contact-title">{{ "CONTACT_PAGE.TITLE" | translate }}</h2>
    <div class="contact-container">
      <div>
        <div class="input-group">
          <input formControlName="name" required type="text" name="firstName" autocomplete="off" class="input" />
          <label class="user-label">{{ "CONTACT_PAGE.NAME" | translate }}</label>
          <div *ngIf="
              contactForm.controls['name'].invalid &&
              contactForm.controls['name'].touched
            ">
            <small *ngIf="contactForm.controls['name'].errors?.['required']" class="error-message">
              {{ "CONTACT_PAGE.ERROR.NAME_REQUIRED" | translate }}
            </small>
            <small *ngIf="contactForm.controls['name'].errors?.['minlength']" class="error-message">
              {{ "CONTACT_PAGE.ERROR.NAME_MIN_LENGTH" | translate }}
            </small>
          </div>
        </div>
        <div class="input-group">
          <input formControlName="lastName" required type="text" name="lastName" autocomplete="off" class="input" />
          <label class="user-label">
            {{ "CONTACT_PAGE.LAST_NAME" | translate }}
          </label>
          <div *ngIf="
              contactForm.controls['lastName'].invalid &&
              contactForm.controls['lastName'].touched
            ">
            <small *ngIf="contactForm.controls['lastName'].errors?.['required']" class="error-message">
              {{ "CONTACT_PAGE.ERROR.LAST_NAME_REQUIRED" | translate }}
            </small>
            <small *ngIf="contactForm.controls['lastName'].errors?.['minlength']" class="error-message">
              {{ "CONTACT_PAGE.ERROR.LAST_NAME_MIN_LENGTH" | translate }}
            </small>
          </div>
        </div>
        <div class="input-group">
          <input formControlName="phone" type="text" name="phone" autocomplete="off" class="input" />
          <label class="user-label">{{ "CONTACT_PAGE.PHONE" | translate }}</label>
        </div>
        <div class="input-group">
          <input formControlName="email" required type="text" name="email" autocomplete="off" class="input" />
          <label class="user-label">{{ "CONTACT_PAGE.EMAIL" | translate }}</label>
          <div *ngIf="
              contactForm.controls['email'].invalid &&
              contactForm.controls['email'].touched
            ">
            <small *ngIf="contactForm.controls['email'].errors?.['required']" class="error-message">
              {{ "CONTACT_PAGE.ERROR.EMAIL_REQUIRED" | translate }}
            </small>
            <small *ngIf="contactForm.controls['email'].errors?.['email']" class="error-message">
              {{ "CONTACT_PAGE.ERROR.EMAIL_INVALID" | translate }}
            </small>
          </div>
        </div>
      </div>
      <div>
        <div class="input-group">
          <textarea formControlName="comments" name="comments" autocomplete="off" class="input textarea"></textarea>
          <label class="user-label">{{
            "CONTACT_PAGE.COMMENTS" | translate
            }}</label>
        </div>
        <app-button text="CONTACT_PAGE.SEND" iconUrl="../../assets/icons/send_icon.svg"></app-button>
      </div>
    </div>
  </form>

</div>