$primary-color: #007bff;
$secondary-color: #4A5B7A;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;
$light-color: #fff;
$light-blue-color: #F5F7FA;
$dark-color: #212f4c;


$font-placeholder-color: #939ba2;
// #e9b649  F5F7FA