@use "colors" as colors;

.button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
  }

  .send-icon {
    width: 32px;
    height: 32px;
  }
  
.button-container {
    background-color: colors.$info-color;
    color: colors.$light-color;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.4rem 1rem 0.4rem 1.5rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      transform 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 150px;
  
    &:hover {
      background-color: color-mix(in srgb, colors.$info-color, black 10%);
      transform: scale(1.05);
    }
  
    &:active {
      background-color: color-mix(in srgb, colors.$info-color, black 15%);
      transform: scale(0.98);
    }
  
    &:focus {
      outline: 2px solid colors.$secondary-color;
    }
  
    .send-icon {
      width: 32px;
      height: 32px;
      background: url("../../assets/icons/send_icon.svg") no-repeat center;
    }
  
    @media (max-width: 768px) {
      width: 50px;
      height: 50px;
      padding: 0;
      border-radius: 50%;
      font-size: 0;
      justify-content: center;
  
      .button-text {
        display: none;
      }
  
      .send-icon {
        display: inline-block;
        width: 24px;
        height: 24px;
        background-size: contain !important;
        margin: 0;
      }
    }
  }