
@use 'colors' as colors;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$font-family: 'Poppins', sans-serif;

body {
  font-family: $font-family;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin: 0px;
  background-color: colors.$light-blue-color;
}

button {
  font-family: $font-family;
  margin: 0px;
  background-color: colors.$light-blue-color;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1.5rem;
}
